<html>
    <body>
        <head>
        <meta charset="utf-8"> 
        <link href="stylesheet/signin.css" rel="stylesheet">
        <link rel= 'stylesheet' href='bootstrap/css/bootstrap.css'  type='text/css'/>
        </head>
        <div class="container">
            <form  action="/showquiz"; role="form" method="post">
                <div> WELCOME <%= title%></div>
                <div class="form-group" id="statement" style="float:left;width:60%">
                    <%= text %>
                </div>
                <img src=<%= image %>>
                <input type="hidden" name="user" value = <%= title %> >
                <input type="hidden" name="Qid" value = <%= Qid %> >
                <input type="hidden" name="ans" value= <%= option[  option.length-1 ] %>   >                        
                <div class="form-group" id="option" style="float:left;width:40%">
                    <% for( var i=0;i < option.length-1 ; i++){ %>
                        <div class="radio">
                        </br> 
                            <label>
                            <input class="radio" id="set" type="radio" name="opti" value = <%= option[i] %> checked> <%= option[i] %> 
                            </label>   
                        </br>
                        </div>
                    <% } %>

                <div class="row" >
                    </br></br></br>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
                </div>
            </form>
        </div>
    </body>
    <script src="jquery-1.10.2.min.js"></script>
    <script src='bootstrap/js/bootstrap.js'></script>
    <script src="http://localhost:5000/socket.io/socket.io.js"></script>
    
    <script>
        var $j = jQuery.noConflict();
        
        var socket = io.connect('http://localhost:5000');
        
        $j(function(){
        });
    </script>
</html>