<html>
    <body onload="startTime()">
        <head>
        <meta charset="utf-8"> 
        <!-- <link href="stylesheet/signin.css" rel="stylesheet"> -->
       <!-- <link rel= 'stylesheet' href='bootstrap/css/bootstrap.css '  type='text/css'/>  -->
       <link rel="stylesheet/less" type="text/css" href="bootstrap/less/bootstrap.less"/>
       <script type="text/javascript" src="bootstrap/js/less.js"></script>
    <script src="js/countdown.js" type="text/javascript"></script>
    <script src='bootstrap/js/bootstrap.js'></script>
    <script src="socket.io/socket.io.js" ></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>
        function startTime(){

            // set the date we're counting down to
            var target_date = new Date().getTime() + <%= timer %>;
             
            // variables for time units
            var days, hours, minutes, seconds;
             
            // // get tag element
            // var countdown = document.getElementById("countdown");
             
            // update the tag with id "countdown" every 1 second
            setInterval(function () {
             
                // find the amount of "seconds" between now and target
                var current_date = new Date().getTime();
                var seconds_left = (target_date - current_date) / 1000;
             
                // do some time calculations
                days = parseInt(seconds_left / 86400);
                seconds_left = seconds_left % 86400;
                 
                hours = parseInt(seconds_left / 3600);
                seconds_left = seconds_left % 3600;
                 
                minutes = parseInt(seconds_left / 60);
                seconds = parseInt(seconds_left % 60);
                 
                // // format countdown string + set tag value
                // countdown.innerHTML = days + "d, " + hours + "h, "
                // + minutes + "m, " + seconds + "s";  

                var $j = jQuery.noConflict();
                var socket = io.connect();
                var username = '<%= title %>';
                socket.emit('updateTime', username,seconds_left*1000);
            }, 1000);
        }
    </script>
        </head>
        <div class="container">   

        <form  action="/quesz"; role="form" method="post">
            <div class="jumbotron" style="margin-top:30px;margin-bottom:30px">
                <h4 style="float:right"> WELCOME <%= title%></h4>
                <h3>Test for "Purpose"</h3>
            </br>
            <div style="float:right">

            <script type="application/javascript">

            /*1 hour = 3600 seconds
            1 day = 86400 seconds
            1 week = 604800 seconds
            1 month = 2629744 seconds 
            1 year = 31556926 seconds*/

            var myCountdown2 = new Countdown({style:"flip",time: <%= timer %>/1000, width:100, height:40, rangeHi:"hour"});

            </script>
            </div>
                <p style="padding-bottom:30px;float:left">Question: <%= statement %></p>
              </div>
            <input type="hidden" name="user" value = <%= title %>  method="post">
            <input type="hidden" name="ans" value= <%= option[  option.length-1 ] %>  method="post" >                    
            <div class="jumbotron" id="option">
                <% for( var i=0;i < option.length-1 ; i++){ %>
                    <div class="radio">
                    </br> 
                        <label>
                        <input class="radio" id="set" type="radio" name="opti" value = <%= option[i] %> checked> <%= option[i] %> 
                        </label>   
                    </br>
                    </div>
                <% } %>
            <div class="row" >
                </br>
                <button type="submit" style="float:right" class="btn btn-primary">Submit</button>
            </div>
            </div>
        </form>
        </div>
    </body>
</html>