<html>
    <script src="jquery-1.10.2.min.js"></script>
    <script src='bootstrap/js/bootstrap.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    
    <body background="img/images.jpg">
        <head>
        <meta charset="utf-8"> 
        <link rel= 'stylesheet' href='bootstrap/css/bootstrap.css'  type='text/css'/>
        </head>
            <script src='js/Chart.min.js'></script>
            
        <h1> Welcome <%= title %> your result for Quiz <%= Qid %> is as follows</h1>
        </br>
        </br>
        <div class="container">
            
            <% var z = 1;%>
            <% for( var i=0,z=1; i < table.length; i+=5,z++ ){%>
                <div class="col-sm-6"> SECTION NAME : <%= table[i+1] %></div>
                <div class="col-sm-6"> SECTION SCORE: <%= table[i] %></div>
                </br>
                <table class="table table-hover">
                    <tr >
                        <td> Problem no. </td>
                        <td> Your selection </td>
                        <td> Correct answer </td>
                    </tr>
                    <% var x = table[i+2].length %>
                    <% for( var k = 0; k < x; k++){ %>
                        <tr class=<%= table[i+4][k] %> >
                            <td> <%= k %> </td>
                            <td> <%= table[i+2][k] %> </td>
                            <td> <%= table[i+3][k] %> </td>
                        </tr>

                    <% } %> 

                </table>

                </br>
                
                </br> 
            <% } %>
            <table class="table table-hover"></table>
            <script>
                //var $j = jQuery.noConflict();    
                //var alp = 
                //$j.parseJSON(<%= table %>);
                //var alp = [<%= table %>];
                //alert(result);
                //var size = alp.length/5;
                //alert(size);
                var datax = { labels:[], datasets:[{
                    data:[]

                }] };
                //var lab = [];
                <% for(var t=0; t < table.length/5 ; t++){ %>
                    datax.labels.push('<%= table[5*t + 1] %>');
                    var c=0,w=0,u=0;
                    <% for(var p=0; p < table[5*t+4].length/5 ; p++){ %>
                        if( '<%= table[5*t + 1][p] %>' == "success" ){
                            c++;
                        }else if( '<%= table[5*t + 1][p] %>' == "warning" ){
                            w++;
                        }else{
                            u++;
                        }
                    <% } %>
                    datax.datasets.data.push(c);
                    datax.datasets.data.push(w);
                    datax.datasets.data.push(u);
                    datax.datasets.fillColor("rgba(151,187,205,0.5");
                    datax.datasets.strokeColor("rgba(151,187,205,1.0");
                <% } %>
                alert(datax);
            </script>
        </div>
    </body>
    <script>
        var $j = jQuery.noConflict();
        //var socket = io.connect();
        $j(function(){
        });
    </script>
</html>



